USE [master]
GO
/****** Object:  Database [QuanLyNhaHang]    Script Date: 6/3/2019 11:11:19 AM ******/
CREATE DATABASE [QuanLyNhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HUNG\MSSQL\DATA\QuanLyNhaHang.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HUNG\MSSQL\DATA\QuanLyNhaHang_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang]
GO
/****** Object:  User [HUNGREOHR7\AVISHOP]    Script Date: 6/3/2019 11:11:19 AM ******/
CREATE USER [HUNGREOHR7\AVISHOP] FOR LOGIN [HUNGREOHR7\AVISHOP] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HUNGREOHR7\AVISHOP]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHDBH]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDBH](
	[IDHD] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[SanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [bit] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_CHITIETHDBH_1] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC,
	[Ngay] ASC,
	[SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADONNH]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNH](
	[MaHD] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[SanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_CHITIETHOADONNH] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONBH]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaBan] [int] NULL,
	[TrangThai] [bit] NULL,
	[MaKH] [int] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_HOADONBH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNH]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NV] [int] NULL,
	[NSX] [int] NULL,
	[SP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[Ngay] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_HOADONNH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Hinh] [image] NULL,
	[TrangThai] [bit] NULL,
	[Nu] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAINV]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINV](
	[ID] [int] NOT NULL,
	[TenNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAINV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITK]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTK] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [int] NOT NULL,
	[LuongCB] [int] NULL,
	[Thuong] [int] NULL,
	[TongLuong] [int] NULL,
	[TrangThai] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC,
	[TenNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonGia] [int] NULL,
	[Hinh] [image] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[NgayHopTac] [datetime] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNV] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[CMND] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[NgayNhanViec] [datetime] NULL,
	[Nu] [bit] NULL,
	[Hinh] [varbinary](500) NULL,
	[TrangThai] [bit] NULL,
	[LoaiNV] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonGia] [int] NULL,
	[Hinh] [image] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/3/2019 11:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[NgayDangKi] [datetime] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[TrangThai] [bit] NULL,
	[LoaiTK] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[NgayDangKi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai], [status]) VALUES (1, N'Bàn0', 1, 0)
INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai], [status]) VALUES (2, N'Bàn1', 1, 0)
INSERT [dbo].[BAN] ([ID], [TenBan], [TrangThai], [status]) VALUES (3, N'Bàn2', 1, 0)
SET IDENTITY_INSERT [dbo].[BAN] OFF
INSERT [dbo].[CHITIETHDBH] ([IDHD], [Ngay], [SanPham], [SoLuong], [TrangThai], [TongTien]) VALUES (4, CAST(N'2017-02-02 00:00:00.000' AS DateTime), 1, 8, 1, NULL)
INSERT [dbo].[CHITIETHDBH] ([IDHD], [Ngay], [SanPham], [SoLuong], [TrangThai], [TongTien]) VALUES (5, CAST(N'2013-03-03 00:00:00.000' AS DateTime), 2, 10, 1, 20000)
INSERT [dbo].[CHITIETHDBH] ([IDHD], [Ngay], [SanPham], [SoLuong], [TrangThai], [TongTien]) VALUES (5, CAST(N'2018-02-03 00:00:00.000' AS DateTime), 3, 9, 1, NULL)
SET IDENTITY_INSERT [dbo].[HOADONBH] ON 

INSERT [dbo].[HOADONBH] ([ID], [MaNV], [MaBan], [TrangThai], [MaKH], [TongTien]) VALUES (4, 3, 1, 0, 2, 100000)
INSERT [dbo].[HOADONBH] ([ID], [MaNV], [MaBan], [TrangThai], [MaKH], [TongTien]) VALUES (5, 6, 2, 0, 4, 100000)
INSERT [dbo].[HOADONBH] ([ID], [MaNV], [MaBan], [TrangThai], [MaKH], [TongTien]) VALUES (6, 7, 3, 0, 3, 100000)
SET IDENTITY_INSERT [dbo].[HOADONBH] OFF
SET IDENTITY_INSERT [dbo].[HOADONNH] ON 

INSERT [dbo].[HOADONNH] ([ID], [NV], [NSX], [SP], [SoLuong], [DonGia], [ThanhTien], [Ngay], [TrangThai]) VALUES (1, 5, 4, 1, 20, 10000, 200000, CAST(N'1998-11-20' AS Date), 1)
INSERT [dbo].[HOADONNH] ([ID], [NV], [NSX], [SP], [SoLuong], [DonGia], [ThanhTien], [Ngay], [TrangThai]) VALUES (2, 6, 5, 8, 12, 20000, 240000, CAST(N'2019-05-28' AS Date), 1)
INSERT [dbo].[HOADONNH] ([ID], [NV], [NSX], [SP], [SoLuong], [DonGia], [ThanhTien], [Ngay], [TrangThai]) VALUES (3, 6, 4, 1, 20, 10000, 200000, CAST(N'2019-05-28' AS Date), 1)
SET IDENTITY_INSERT [dbo].[HOADONNH] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID], [TenKH], [SoDienThoai], [DiaChi], [Hinh], [TrangThai], [Nu]) VALUES (1, N'hung', N'52/6l', N'2326656566', NULL, 1, 0)
INSERT [dbo].[KHACHHANG] ([ID], [TenKH], [SoDienThoai], [DiaChi], [Hinh], [TrangThai], [Nu]) VALUES (2, N'hung', N'23266565', N'52/6l', NULL, 1, 0)
INSERT [dbo].[KHACHHANG] ([ID], [TenKH], [SoDienThoai], [DiaChi], [Hinh], [TrangThai], [Nu]) VALUES (3, N'nhi', N'23232365', N'52/6m', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAINV] ([ID], [TenNV]) VALUES (1, N'Thu Ngan  ')
INSERT [dbo].[LOAINV] ([ID], [TenNV]) VALUES (2, N'Bao Ve    ')
INSERT [dbo].[LOAINV] ([ID], [TenNV]) VALUES (3, N'Ke Toan   ')
SET IDENTITY_INSERT [dbo].[LOAITK] ON 

INSERT [dbo].[LOAITK] ([ID], [LoaiTK]) VALUES (1, N'Thu Ngân')
INSERT [dbo].[LOAITK] ([ID], [LoaiTK]) VALUES (2, N'Quản Lí Kho')
INSERT [dbo].[LOAITK] ([ID], [LoaiTK]) VALUES (3, N'Phục Vụ')
SET IDENTITY_INSERT [dbo].[LOAITK] OFF
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([ID_NV], [TenNV], [LuongCB], [Thuong], [TongLuong], [TrangThai], [Status]) VALUES (3, 5, 3000000, 400000, 3400000, 1, 1)
INSERT [dbo].[LUONG] ([ID_NV], [TenNV], [LuongCB], [Thuong], [TongLuong], [TrangThai], [Status]) VALUES (6, 6, 500000, 500000, 1000000, 1, 1)
INSERT [dbo].[LUONG] ([ID_NV], [TenNV], [LuongCB], [Thuong], [TongLuong], [TrangThai], [Status]) VALUES (7, 4, 1500000, 3200000, 4700000, 1, 1)
SET IDENTITY_INSERT [dbo].[LUONG] OFF
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] ON 

INSERT [dbo].[NGUYENLIEU] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (1, N'CoCa ', 10000, NULL, 1)
INSERT [dbo].[NGUYENLIEU] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (2, N'Pepsi', 7000, NULL, 1)
INSERT [dbo].[NGUYENLIEU] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (3, N'Khoai tây nghiền', 15000, NULL, 1)
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([ID], [TenNhaCungCap], [NgayHopTac], [TrangThai]) VALUES (1, N'CocaCola', CAST(N'2019-05-28 13:03:54.970' AS DateTime), 1)
INSERT [dbo].[NHACUNGCAP] ([ID], [TenNhaCungCap], [NgayHopTac], [TrangThai]) VALUES (2, N'Pepsi', CAST(N'2019-05-28 13:04:05.243' AS DateTime), 1)
INSERT [dbo].[NHACUNGCAP] ([ID], [TenNhaCungCap], [NgayHopTac], [TrangThai]) VALUES (3, N'Unilever', CAST(N'2019-05-28 13:04:21.677' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [HoTenNV], [DiaChi], [CMND], [SoDienThoai], [NgayNhanViec], [Nu], [Hinh], [TrangThai], [LoaiNV]) VALUES (3, N'hung', N'52/6', N'2323232', N'32323221', CAST(N'2018-02-02 00:00:00.000' AS DateTime), 1, NULL, 1, 1)
INSERT [dbo].[NHANVIEN] ([ID], [HoTenNV], [DiaChi], [CMND], [SoDienThoai], [NgayNhanViec], [Nu], [Hinh], [TrangThai], [LoaiNV]) VALUES (4, N'hoaaa', N'52/7', N'23232', N'323232', CAST(N'2018-01-01 00:00:00.000' AS DateTime), 1, NULL, 0, 3)
INSERT [dbo].[NHANVIEN] ([ID], [HoTenNV], [DiaChi], [CMND], [SoDienThoai], [NgayNhanViec], [Nu], [Hinh], [TrangThai], [LoaiNV]) VALUES (5, N'huong', N'52/64', N'232323', N'2323232', CAST(N'2018-05-05 00:00:00.000' AS DateTime), 1, NULL, 0, 4)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (1, N'TraSua', 15000, NULL, 1)
INSERT [dbo].[SANPHAM] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (2, N'Sườn', 50000, NULL, 1)
INSERT [dbo].[SANPHAM] ([ID], [TenSP], [DonGia], [Hinh], [TrangThai]) VALUES (3, N'Gà', 50000, NULL, 0)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [NgayDangKi], [HoTen], [SoDienThoai], [TrangThai], [LoaiTK]) VALUES (N'Captain', N'123', CAST(N'2018-10-28 14:00:58.000' AS DateTime), N'nguyễn captain123', N'2323123', 1, 3)
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [NgayDangKi], [HoTen], [SoDienThoai], [TrangThai], [LoaiTK]) VALUES (N'd', N'hung', CAST(N'2018-11-01 21:51:28.000' AS DateTime), N'd', N'2', 1, 3)
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [NgayDangKi], [HoTen], [SoDienThoai], [TrangThai], [LoaiTK]) VALUES (N'Hòa', N'123', CAST(N'2016-03-03 00:00:00.000' AS DateTime), N'Hòa', N'02323', 0, 3)
ALTER TABLE [dbo].[CHITIETHDBH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDBH_HOADONBH] FOREIGN KEY([IDHD])
REFERENCES [dbo].[HOADONBH] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHDBH] CHECK CONSTRAINT [FK_CHITIETHDBH_HOADONBH]
GO
ALTER TABLE [dbo].[CHITIETHDBH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDBH_SANPHAM1] FOREIGN KEY([SanPham])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHDBH] CHECK CONSTRAINT [FK_CHITIETHDBH_SANPHAM1]
GO
ALTER TABLE [dbo].[CHITIETHOADONNH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNH_HOADONNH] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADONNH] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONNH] CHECK CONSTRAINT [FK_CHITIETHOADONNH_HOADONNH]
GO
ALTER TABLE [dbo].[CHITIETHOADONNH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNH_NGUYENLIEU] FOREIGN KEY([SanPham])
REFERENCES [dbo].[NGUYENLIEU] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONNH] CHECK CONSTRAINT [FK_CHITIETHOADONNH_NGUYENLIEU]
GO
ALTER TABLE [dbo].[HOADONBH]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBH_BAN] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BAN] ([ID])
GO
ALTER TABLE [dbo].[HOADONBH] CHECK CONSTRAINT [FK_HOADONBH_BAN]
GO
ALTER TABLE [dbo].[HOADONBH]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBH_KHACHHANG1] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONBH] CHECK CONSTRAINT [FK_HOADONBH_KHACHHANG1]
GO
ALTER TABLE [dbo].[HOADONBH]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBH_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONBH] CHECK CONSTRAINT [FK_HOADONBH_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONNH]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_NHACUNGCAP] FOREIGN KEY([NSX])
REFERENCES [dbo].[NHACUNGCAP] ([ID])
GO
ALTER TABLE [dbo].[HOADONNH] CHECK CONSTRAINT [FK_HOADONNH_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNH]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_NHANVIEN] FOREIGN KEY([NV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONNH] CHECK CONSTRAINT [FK_HOADONNH_NHANVIEN]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NHANVIEN1] FOREIGN KEY([TenNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NHANVIEN1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOAINV] FOREIGN KEY([LoaiNV])
REFERENCES [dbo].[LOAINV] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINV]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITK] FOREIGN KEY([LoaiTK])
REFERENCES [dbo].[LOAITK] ([ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITK]
GO
USE [master]
GO
